@import '~/app-variables';

RadSideDrawer {

  StackLayout {
    background-color: $colorA;
  }

  Button {
    &.btn {
      background: none;
      color: $colorC;
      font-size: 16px;
      text-align: center;
      margin: 5;
      padding: 5;
    }
  }

  .btn-map {
    color: $colorC;
    font-size: 16px;
    text-align: center;
    width: 48;
    height: 48;
    border-width: 1;
    border-color: $colorB;
    background-color: $colorA;
  }
  .btn-menu {
    horizontal-align: left;
    vertical-align: top;
    margin: 40 0 0 20;
    border-radius: 5px;
  }
  .btn-add {
    horizontal-align: right;
    vertical-align: bottom;
    margin: 0 20 20 0;
    border-radius: 27px;
  }
  .adding {
    background-color: $colorB;
    border-color: $colorA;
  }

  Label{
    color: $colorC;
    font-size: 16px;
    padding: 10px;
    text-align: center;

    &.profile-name {
      color: $colorC;
      font-size: 16px;
      padding: 10px;
      text-align: center;
    }
    &.divider {
      background-color: $colorC;
      width: 90%;
      height: 1px;
    }
    &.button {
      background-color: none;
      color: $colorC;
      font-size: 24;
      text-align: center;
      padding: 10px;
    }
  }

  Image.header-image {
    height: 120px;
    width: auto;
    margin-top: 50px;
  }
}
