@import '~/app-variables';

RadSideDrawer {

  StackLayout {
    background-color: $colorA;
  }

  Button {
    &.btn {
      background: none;
      color: $colorC;
      font-size: 16px;
      text-align: center;
      margin: 5;
      padding: 5;
    }
    &.menu-button {
      top: 40;
      left: 20;
      width: 48px;
      height: 48px;
      border-width: 1;
      border-color: $colorB;
      border-radius: 5px;
      background-color: $colorA;
    }
  }

  Label{
    color: $colorC;
    font-size: 16px;
    padding: 10px;
    text-align: center;

    &.profile-name {
      color: $colorC;
      font-size: 16px;
      padding: 10px;
      text-align: center;
    }
    &.divider {
      background-color: $colorC;
      width: 90%;
      height: 1px;
    }
    &.button {
      background-color: none;
      color: $colorC;
      font-size: 24;
      text-align: center;
      padding: 10px;
    }
  }

  Image.header-image {
    height: 120px;
    width: auto;
    margin-top: 50px;
  }
}
