// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example 'nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// theme colors (source: http://www.colourlovers.com/palette/4479325/lavendeen)
@import 'app-variables';

// Customize any of the theme’s variables here
$btn-color: $colorB;
$grey-background: $colorC;
$ab-background: $colorA;
$ab-color: #FFFFFF;

// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// @import '~font-awesome/scss/font-awesome';

.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

.tiny {
  font-size: 5;
}

.regular {
  font-size: 15;
}

.large {
  font-size: 20;
}
.white {
  color: white;
}
