@import '~/app-variables';

.profile {
  background-color: $colorG;

  .card {
    margin: 10 0;
    background-color: white;
  }

  Image {
    width: 40px;
    height: 40px;
    margin: 10 5 10 10;
  }

  .nome-completo {
    margin: 12 5 0 5;
    color: $colorA;
    font-size: 16px;
  }
  .username {
    margin: 0 5;
    color: $colorC;
    font-size: 12px;
  }
}
