<!--<StackLayout>
  <Image src="res://icon"></Image>
  <Label text="nome"></Label>
  <TextField hint="Nome"></TextField>
  <Label text="sobrenome"></Label>
  <TextField hint="Sobrenome"></TextField>
  <Button text="Salvar"></Button>
  <Button text="Cancelar"></Button>
</StackLayout>-->
<ActionBar class="action-bar" text="Perfil"></ActionBar>
<StackLayout top="0" left="0" height="100%" width="100%">
  <FlexboxLayout justifyContent="flex-start" class="p-10">
    <Image src="res://icon-76" class="profile-image"></Image>
  </FlexboxLayout>
</StackLayout>
