<ActionBar class="action-bar" [title]="'@' + user.username">
  <ActionItem ios.systemIcon="2" ios.position="right"
              android.systemIcon="ic_menu_edit" android.position="actionBar"
              [visibility]="isMyProfile() ? 'visible' : 'collapsed'"] (tap)="editar()"></ActionItem>
</ActionBar>
<ScrollView class="profile">
  <StackLayout>
    <FlexboxLayout class="card">
      <Image [src]="user.foto"></Image>
      <FlexboxLayout flexDirection="column">
        <Label class="nome-completo" [text]="user.nome + ' ' + (user.sobrenome || '')"></Label>
        <Label class="username" [text]="'@' + user.username"></Label>
      </FlexboxLayout>
    </FlexboxLayout>
    <queda-card *ngFor="let queda of quedas" [queda]="queda"></queda-card>
  </StackLayout>
</ScrollView>
