@import '~/app-variables';

.card-queda {
  background-color: white;
  margin: 0 0 10 0;
  flex-wrap: wrap;

  * {
    flex-grow: 1;
  }

  MapView {
    width: 100%;
    height: 170px;
  }
  .legenda {
    color: $colorA;
    margin: 5;
    font-size: 13;
    width: 100%;
  }
  .legenda-down {
    // margin: 0;
    padding: 2 4;
    color: $colorB;
    font-size: 11;
  }
  .time {
    text-align: right;
  }
  .sorrir {
    color: $colorG;
    padding: 5;
    flex-basis: 50%;
    text-align: center;
  }
  .comentar {
    color: $colorG;
    padding: 5;
    flex-basis: 50%;
    text-align: center;
  }
  .active {
    color: $colorE;
  }
}
