.background{background-image:url("res://maps-background-default_");background-repeat:no-repeat;background-size:cover;background-position:center}.card-login{background-color:#FFF;margin:10;padding:10}
